@import '../../../assets/css/index';

@flexPrefixCls: fm-flexbox;
@gridPrefixCls: fm-grid;

/* flexbox */
.@{gridPrefixCls} {
  .@{flexPrefixCls} {
    .@{gridPrefixCls}-null-item {
      background-color: @fill-base;
    }
    .@{flexPrefixCls}-item {
      margin-left: 0;

      &.@{gridPrefixCls}-item {
        position: relative;
      }

      &.@{gridPrefixCls}-item-active {
        .@{gridPrefixCls}-item-content {
          background-color: @fill-tap!important;
        }
      }

      .@{gridPrefixCls}-item-content {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: @v-spacing-lg @v-spacing-md;
        background-color: @fill-base;

        &__border {
          &::after {
            .hairlineAll(@border-color-base);
            border-width: 1px;
          }
        }
        .@{gridPrefixCls}-icon {
          width: 24 * @hd;
        }

        .@{gridPrefixCls}-text {
          margin-top: @v-spacing-md;
          font-size: @font-size-caption-sm;
          color: @color-text-base;
          text-align: center;
        }
      }
    }
  }

  &.@{gridPrefixCls}-line {
    position: relative;
    &::after {
      .hairlineAll(@border-color-base);
      border-width: 1px 0 0 1px;
    }

    .@{flexPrefixCls} {
      position: relative;

      .@{flexPrefixCls}-item {
        position: relative;
        &::after {
          .hairlineAll(@border-color-base);
          border-width: 0 1px 1px 0;
        }
      }
    }
  }

  &.@{gridPrefixCls}-square {
    .@{gridPrefixCls}-item {
      &:before {
        display: block;
        content: ' ';
        padding-bottom: 100%;
      }
      .@{gridPrefixCls}-item-content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
      .@{gridPrefixCls}-icon {
        width: 24 * @hd;
      }
    }
  }
}
