@import (reference) '../../../assets/css/index.less';

@inputPrefixCls: fm-input;

.@{inputPrefixCls} {
  --fm-input-font-size: 14px;
  --fm-input-line-height: 1.5;

  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--fm-input-font-size);
  line-height: var(--fm-input-line-height);

  &.is-disabled &__inner {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  &__inner {
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-gray-1);
    font-size: inherit;
    line-height: inherit;
    background: 0 0;
    border: 0;
    outline: none;
    appearance: none;

    &::placeholder {
      color: var(--color-gray-4);
    }
  }

  .@{inputPrefixCls}__prefix {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 4px;
    font-size: inherit;
    line-height: inherit;
  }

  .@{inputPrefixCls}__suffix {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 4px;
    font-size: inherit;
    line-height: inherit;
  }

  .@{inputPrefixCls}__clear {
    flex: 0 0 auto;
    margin-left: 4px;
    color: var(--color-gray-3);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
  }
}
