@import (reference) '../../../assets/css/index.less';

@textareaPrefixCls: fm-textarea;

.@{textareaPrefixCls} {
  --fm-textarea-font-size: 14px;
  --fm-textarea-line-height: 1.5;

  position: relative;
  font-size: var(--fm-textarea-font-size);
  line-height: var(--fm-textarea-line-height);

  &.is-disabled &__inner {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  &__inner {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-right: 16px;
    overflow: visible;
    color: var(--color-gray-1);
    font-size: inherit;
    line-height: inherit;
    word-wrap: break-word;
    word-break: break-word;
    background-color: transparent;
    border: 0;
    outline: none;
    appearance: none;
    resize: none;

    &::placeholder {
      color: var(--color-gray-4);
    }
  }

  .@{textareaPrefixCls}__clear {
    position: absolute;
    top: 0;
    right: 0;
    flex: 0 0 auto;
    color: var(--color-gray-3);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
  }

  .@{textareaPrefixCls}__count {
    color: var(--color-gray-4);
    font-size: 14px;
    text-align: right;
  }
}
