@import (reference) '../../../assets/css/index';

@avatarPrefixClass: fm-avatar;

@sizeLG: 64px;
@sizeMD: 48px;
@sizeSM: 36px;
@sizeXS: 24px;

.@{avatarPrefixClass} {
  // ------ hybird -----
  // -徽标
  &-badge {
    position: relative;
    // display: inline-block;
  }
  // ------ basic ------
  display: inline-block;
  width: @sizeMD;
  height: @sizeMD;
  &-main{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #D2D5DB;
    vertical-align: middle;
  }

  &-disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    cursor: not-allowed;
  }

  // ------ type ------
  &-icon {
    &-content{
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  &-icon-font {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0;
    // background: #369;
  }
  &-icon-custom {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-image {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  &-text{
    position: relative;
    font-family: PingFangSC-Regular;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    &-content{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-icon {

  }

  // ------ round(shape) - circle / square |  rect - width/height/round ------
  &-circle{
    border-radius: 50%;
  }
  &-square{
    border-radius: 4px;
  }

  // ------ size ------
  &-xs {
    width: @sizeXS;
    height: @sizeXS;
    font-size: 10.5px;
    .@{avatarPrefixClass}-icon-font {
      line-height: @sizeXS;
      font-size: floor(@sizeXS*0.65);
    }
  }
  &-sm {
    width: @sizeSM;
    height: @sizeSM;
    font-size: 14px;
    .@{avatarPrefixClass}-icon-font {
      line-height: @sizeSM;
      font-size: floor(@sizeSM*0.65);
    }
  }
  &-md {
    width: @sizeMD;
    height: @sizeMD;
    font-size: 21px;
    .@{avatarPrefixClass}-icon-font {
      line-height: @sizeMD;
      font-size: floor(@sizeMD*0.65);
    }
  }
  &-lg {
    width: @sizeLG;
    height: @sizeLG;
    font-size: 28px;
    .@{avatarPrefixClass}-icon-font {
      line-height:@sizeLG;
      font-size: floor(@sizeLG*0.65);
    }
  }
  // ------ hybird -----
    // - Badge
    &-badge {
      .fm-badge-dot{
        border: 1px solid #fff;
        right: 0;
      }
      .fm-badge-text {
          border: 1px solid #fff;
          transform: translateX(0);
          left: -1.2em;
          top: -1em;
      }
    }
    &-square + &-badge {
      .fm-badge-dot {
        right: -0.4em;
      }
      .fm-badge-text  {
        left: -1em;
      }
    }
    &-xs &-badge  {
      .fm-badge-dot {
        top: -@sizeXS/4;
        width: @sizeXS/4;
        height: @sizeXS/4;
      }
      .fm-badge-text {
        font-size: 8px;
        line-height: 12px;
        height: 12px;
      }
      // - ……
    }

    &-sm &-badge  {
      .fm-badge-dot {
        top: -@sizeSM/4;
        width: @sizeSM/4;
        height: @sizeSM/4;
      }
      .fm-badge-text {
        font-size: 8px;
        line-height: 14px;
        height: 14px;
      }
      // - ……
    }

    &-md  &-badge  {
      .fm-badge-dot {
        top: -@sizeMD/4;
        width: @sizeMD/4;
        height: @sizeMD/4;
      }
      .fm-badge-text {
        font-size: 10px;
        line-height: 16px;
        height: 16px;

      }
      // - ……
    }
    &-lg  &-badge  {
      .fm-badge-dot {
        top: -@sizeLG/4;
        width: @sizeLG/4;
        height: @sizeLG/4;
      }
      .fm-badge-text {
        font-size: 12px;
        line-height: 18px;
        height: 18px;
      }
      // - ……
    }
    // - ……

  // ------ layout ------
  &-inline {
    
  }
}