@import (reference) '../../../assets/css/index.less';

@prefix: fm-listview;

.@{prefix} {
  &-loading,
  &-finished {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: var(--color-gray-3);
    font-size: 14px;
  }
}
