@import (reference) '../../../assets/css/index';

@tabsPrefixCls: fm-tabs;

.@{tabsPrefixCls} {
  overflow: hidden;
  &-horizontal {
    background: white;
    &-nav-wrap {
      position: relative;
      height: 44px;
      overflow: hidden;
    }
    &-nav {
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding-bottom: 10px;
      box-sizing: content-box;
      height: 100%;
    }
    &-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #f0f1f3;
    }
    &-tab {
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      line-height: 44px;
      display: inline-block;
      color: #333333;
      &-active {
        color: #333333;
        font-weight: 500;
      }
    }
    &-active-bar {
      position: absolute;
      bottom: 10px;
      background: @color-blue;
      height: 2px;
      left: 0;
      z-index: 10;
      width: 40px;
      &-animated {
        transition: left 0.5s ease-in-out;
      }
    }
    &-content-wrap {
      position: relative;
      width: 100%;
    }
    &-content {
      white-space: nowrap;
      &-animated {
        transition: left 0.5s ease-in-out;
      }
      &-tab {
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: top;
      }
    }
  }
  &-vertical {
    display: flex;
    background: white;
    &-nav-wrap {
      height: 100%;
      width: 80px;
      overflow: hidden;
      position: relative;
    }
    &-nav {
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding-right: 10px;
      box-sizing: content-box;
      width: 100%;
      height: 100%;
    }
    &-line {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #f0f1f3;
    }
    &-tab {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333333;
      &-active {
        color: #333333;
        font-weight: 500;
      }
    }
    &-active-bar {
      position: absolute;
      right: 10px;
      background: @color-blue;
      width: 2px;
      height: 100%;
      top: 0;
      z-index: 10;
      &-animated {
        transition: top 0.5s ease-in-out;
      }
    }
    &-content {
      overflow: auto;
    }
  }
}
