.fm-overflow-hidden {
  overflow: hidden !important;
}

.fm-dropdown-menu {
  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    cursor: pointer;
  }

  &__title {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 8px;
    font-size: 15px;
    line-height: 22px;

    &::after {
      position: absolute;
      top: 50%;
      right: -4px;
      margin-top: -5px;
      border: 3px solid;
      border-color: transparent transparent #dcdee0 #dcdee0;
      transform: rotate(-45deg);
      opacity: 0.8;
      content: '';
    }
  }

  &__title--active::after {
    margin-top: -1px;
    transform: rotate(135deg);
    border-color: transparent transparent currentColor currentColor;
  }

  &_bar {
    position: relative;
    display: flex;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

    &--opened {
      z-index: 11;
    }
  }
}

.fm-dropdown-item {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s ease-in;

  .fm-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2020;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
  }

  &__content {
    position: absolute;
    left: 0;
    z-index: 2021;
    width: 100%;
    max-height: 80%;
    background-color: #fff;
    transition: transform 0.3s ease;

    .fm-cell {
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 24px;
      box-shadow: inset 0 0 1px 0 #e6e7eb;
      box-sizing: border-box;
    }
  }
}

.down-enter .fm-dropdown-item__content {
  transform: translate3d(0, -100%, 0);
  transition-timing-function: ease-out;
}

.down-exit-active .fm-dropdown-item__content {
  transform: translate3d(0, -100%, 0);
  transition-timing-function: ease-in;
}

.up-enter .fm-dropdown-item__content {
  transform: translate3d(0, 100%, 0);
  transition-timing-function: ease-out;
}

.up-exit-active .fm-dropdown-item__content {
  transform: translate3d(0, 100%, 0);
  transition-timing-function: ease-in;
}

.down-enter,
.up-enter .fm-overlay {
  opacity: 0;
}

.down-exit-active,
.up-enter .fm-overlay {
  opacity: 0;
}
