@import '../../../assets/css/index';
@ActionSheetPrefixCls: fm-action-sheet;
@hd: 1px;

.@{ActionSheetPrefixCls} {
  position: fixed;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;

  &-top {
    border-radius: 4px;
    overflow: hidden;
  }

  &-bottom {
    margin-top: 5px;
    border-radius: 4px;
    overflow: hidden;
  }

  &-title,
  &-message {
    background-color: #fff;
    padding: 15px;
    text-align: center;
  }

  &-title {
    font-size: 16px;
  }

  &-message {
    color: #888;
    font-size: 14px;
  }

  &-button-list {
    text-align: center;
    color: #000;

    &-item {
      font-size: 16px;
      padding: 0 8 * @hd;
      margin: 0;
      position: relative;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      background-color: #fff;
      .hairline('top');

      &&-active {
        background-color: #ddd;
      }
    }

    &-badge {
      display: flex;
      align-items: center;
      justify-content: center;

      .am-badge {
        margin-left: 8 * @hd;
        flex-shrink: 0;
      }
    }

    &-item-content {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .@{ActionSheetPrefixCls}-cancel-button {
      position: relative;

      &-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.4);
        .hairline('top');
        .hairline('bottom');
      }
    }

    .@{ActionSheetPrefixCls}-destructive-button {
      color: red;
    }
  }

  &-share {
    &-list {
      position: relative;
      display: flex;
      padding: 15px 0 15px 10px;
      background-color: #f2f2f2;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      .hairline('top');
      &-item {
        flex: none;
        margin: 0 12 * @hd 0 0;

        &-icon {
          margin-bottom: 9px;
          width: 60 * @hd;
          height: 60 * @hd;
          background-color: #fff;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-title {
          color: #000;
          font-size: 10px;
          text-align: center;
        }
      }
    }

    &-cancel-button {
      position: relative;
      font-size: 16px;
      text-align: center;
      color: #000;
      padding: 0 8 * @hd;
      margin: 0;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      background-color: #fff;
      .hairline('top');

      &&-active {
        background-color: #ddd;
      }
    }
  }

  &-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 1000;

    &-hidden {
      display: none;
    }
  }

  // 隐藏掉 dialog 默认的 x 按钮
  &-close {
    display: none;
  }
}
