@import '../../../assets/css/index';

@prefixCls: fm-number-keyboard;
@prefixClsKey: fm-number-key;

.@{prefixCls} {
  &__body {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 300px;
    background-color: #f2f3f5;
    padding: 6px 0 0 6px;
    display: flex;
  }

  &__keys {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
  }

  &__sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.@{prefixClsKey} {
  &__wrapper {
    box-sizing: border-box;
    flex: 1;
    flex-basis: 33%;
    padding: 0 6px 6px 0;
  }

  &__key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    background-color: #fff;
    font-size: 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:active {
      background-color: #ebedf0;
    }
  }
  &__icon {
    width: 32px;
    height: 22px;
  }
}
