@import (reference) '../../../assets/css/index';

@prefix: fm-picker;

.@{prefix} {
  &__header {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid var(--color-gray-6);
  }

  &__title {
    flex: 1;
  }

  &__confirm {
    padding: 4px;
    color: var(--color-primary);
  }

  &__cancel {
    padding: 4px;
  }
}
