@import (reference) '../../../assets/css/index.less';
@prefix: fm-form;

.@{prefix}-item {
  font-size: 14px;

  &__label {
    display: block;
    height: 100%;
    line-height: 1.5;
    color: var(--color-gray-1);
  }

  &__error {
    font-size: 12px;
    color: var(--color-danger);
  }

  &__required {
    margin-left: 4px;
    color: var(--color-danger);
  }

  .fm-list-item__content {
    align-items: stretch;
  }

  .fm-list-item__prefix {
    color: var(--color-gray-1);
  }
}

.@{prefix}-errors {
  font-size: 12px;
  color: var(--color-danger);
}
