@import (reference) '../../../assets/css/index.less';

@pickerPrefixCls: fm-picker;
@pickerColPrefixCls: fm-picker-col;

@picker-item-height: 34 * @hd;

.@{pickerPrefixCls} {
  display: flex;
  align-items: center;

  &-item {
    flex: 1;
    text-align: center;
  }
}

.@{pickerColPrefixCls} {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 7 * @picker-item-height;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 3 * @picker-item-height 0;
  }

  &-item {
    height: @picker-item-height;
    font-size: @font-size-xl;
    line-height: @picker-item-height;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: @color-gray-1;
    touch-action: manipulation;

    &-selected {
      font-size: @font-size-2xl;
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100% 3 * @picker-item-height;
    background-image:
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)),
      -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
    background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)),
      linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  }

  &-indicator {
    position: absolute;
    top: 3 * @picker-item-height;
    left: 0;
    z-index: 3;
    width: 100%;
    height: @picker-item-height;
    box-sizing: border-box;
    .hairline('top');
    .hairline('bottom');
  }
}
