@hd: 1px; // 基本单位

/** 色彩 **/

// 主题色
@color-blue: #337eff;

// 辅助色
@color-red: #f24957;
@color-green: #26bd71;
@color-orange: #f2a60f;

// 拓展色
@color-pink: #f260b6;
@color-purple: #8875ff;
@color-sky-blue: #33bbff;
@color-blue-green: #3dd9af;
@color-grass-green: #aacc00;
@color-light-yellow: #ffe23d;

// 中性色
@color-neutral-1: #222;
@color-neutral-2: #333;
@color-neutral-3: #666;
@color-neutral-4: #999;
@color-neutral-5: #ccc;
@color-neutral-6: #e1e3e6;
@color-neutral-7: #f2f3f5;
@color-neutral-8: #f7f8fa;

// 文字色
@color-text-base: #333;                  // 基本
@color-text-base-inverse: #fff;          // 基本 - 反色
@color-text-secondary: #a4a9b0;          // 辅助色
@color-text-placeholder: #bbb;           // 文本框提示
@color-text-disabled: #bbb;              // 失效
@color-text-caption: #888;               // 辅助描述
@color-text-paragraph: #333;             // 段落
@color-link: @brand-primary;

// 背景色
@fill-base: #fff;                           // 组件默认背景
@fill-body: #f5f5f9;                        // 页面背景
@fill-tap: #ddd;                            // 组件默认背景 - 按下
@fill-disabled: #ddd;                       // 通用失效背景
@fill-mask: rgba(0, 0, 0, 0.4);              // 遮罩背景
@color-icon-base: #ccc;                      // 许多小图标的背景，比如一些小圆点，加减号
@fill-grey: #f7f7f7;

// 全局/品牌色
@brand-primary: #108ee9;
@brand-primary-tap: #0e80d2;
@brand-success: #6abf47;
@brand-warning: #ffc600;
@brand-error: #f4333c;
@brand-important: #f24957;  // 用于小红点
@brand-wait: #108ee9;

// 边框色
@border-color-base: #e8e9eb;

/** 字体大小 **/
@font-size-icontext: 10 * @hd;
@font-size-caption-sm: 12 * @hd;
@font-size-base: 14 * @hd;
@font-size-subhead: 15 * @hd;
@font-size-caption: 16 * @hd;
@font-size-heading: 17 * @hd;

/** 圆角 **/
@radius-xs: 2 * @hd;
@radius-sm: 3 * @hd;
@radius-md: 5 * @hd;
@radius-lg: 7 * @hd;
@radius-circle: 50%;

/** 边框尺寸 **/
@border-width-sm: 1PX;
@border-width-md: 1PX;
@border-width-lg: 2 * @hd;

/** 间距 **/
// 水平间距
@h-spacing-sm: 5 * @hd;
@h-spacing-md: 8 * @hd;
@h-spacing-lg: 15 * @hd;

// 垂直间距
@v-spacing-xs: 3 * @hd;
@v-spacing-sm: 6 * @hd;
@v-spacing-md: 9 * @hd;
@v-spacing-lg: 15 * @hd;
@v-spacing-xl: 21 * @hd;

/** 高度 **/
@line-height-base: 1;           // 单行行高
@line-height-paragraph: 1.5;    // 多行行高

/** 图标尺寸 **/
@icon-size-xxs: 15 * @hd;
@icon-size-xs: 18 * @hd;
@icon-size-sm: 21 * @hd;
@icon-size-md: 22 * @hd;       // 导航条上的图标、grid的图标大小
@icon-size-lg: 36 * @hd;

/** 字体尺寸 **/
@font-size-icontext: 10 * @hd;
@font-size-caption-sm: 12 * @hd;
@font-size-base: 14 * @hd;
@font-size-subhead: 15 * @hd;
@font-size-caption: 16 * @hd;
@font-size-heading: 17 * @hd;

/** z-index **/
@progress-zindex: 2000;
@popover-zindex: 1999;
@toast-zindex: 1999;
@action-sheet-zindex: 1000; // actonsheet 会放到 popup / modal 中
@picker-zindex: 1000;
@popup-zindex: 999;
@modal-zindex: 999; // modal.alert 应该最大，其他应该较小
@tabs-pagination-zindex: 999;

/** 透明度 **/
@opacity-disabled: 0.3;   // switch checkbox radio 等组件禁用的透明度

/** 组件变量 **/
// Button
@button-height: 47 * @hd;
@button-font-size: 18 * @hd;

@button-height-sm: 30 * @hd;
@button-font-size-sm: 13 * @hd;

@primary-button-fill: @brand-primary;
@primary-button-fill-tap: @brand-primary-tap;

@ghost-button-color: @brand-primary;    // 同时应用于背景、文字颜色、边框色
@ghost-button-fill-tap: fade(@brand-primary, 60%);

@warning-button-fill: #e94f4f;
@warning-button-fill-tap: #d24747;

@link-button-fill-tap: #ddd;
@link-button-font-size: 16 * @hd;

// Switch
@switch-fill: #337EFF;
@switch-fill-android: @brand-primary;

// Overlay
@overlay-z-index: 1;
@overlay-background-color: rgba(0, 0, 0, 0.5);

// List
@list-title-height: 30 * @hd;
@list-item-height-sm: 35 * @hd;
@list-item-height: 44 * @hd;

// NoticeBar
@notice-bar-fill: #fefcec;
@notice-bar-height: 36 * @hd;
@notice-bar-color: #f76a24;

// Input
@input-label-width: 17 * @hd;       // InputItem、TextareaItem 文字长度基础值
@input-font-size: 17 * @hd;
@input-color-icon: #7f7f83; // input clear icon 的背景色
@input-color-icon-tap: @brand-primary;
@input-icon-size: 16 * @hd;
@input-error-color: #F24957;

// Modal
@modal-zindex: 999; // modal.alert 应该最大，其他应该较小
@modal-font-size-heading: 18 * @hd;
@modal-button-font-size: 18 * @hd; // 按钮字号
@modal-button-height: 50 * @hd; // 按钮高度

// Toast
@toast-fill: rgba(58, 58, 58, 0.9); // toast, activity-indicator 的背景颜色

// Picker
@option-height: 42 * @hd;           // picker 标题的高度

// Tabs
@tabs-color: @brand-primary;
@tabs-height: 43.5 * @hd;
@tabs-font-size-heading: 15 * @hd;
@tabs-ink-bar-height: @border-width-lg;

// TabBar
@tab-bar-fill: #ebeeef;
@tab-bar-height: 50 * @hd;

// Divider
@divider-margin: @h-spacing-md 0;
@divider-text-color: @color-neutral-4;
@divider-font-size: @font-size-base;
@divider-line-height: 24px;
@divider-border-color: @border-color-base;
@divider-content-padding: @h-spacing-md;
@divider-content-left-width: 10%;
@divider-content-right-width: 10%;

// Label
@label-width: 40 * @hd;
@label-height: 20 * @hd;
@label-font-size: 12 * @hd;
@label-padding: 3 * @hd 8 * @hd;

@label-width-sm: 32 * @hd;
@label-height-sm: 17 * @hd;
@label-font-size-sm: 10 * @hd;
@label-padding-sm: 2 * @hd 6 * @hd;

@label-width-lg: 48 * @hd;
@label-height-lg: 24 * @hd;
@label-font-size-lg: 14 * @hd;
@label-padding-lg: 5 * @hd 10 * @hd;

// Rate
@rate-star-bg: #E6E8EB;
@rate-star-color: #FFBB2A;
@rate-star-disabled: #C8C9CC;
@rate-star-size: @icon-size-md;
@rate-star-hover-scale: scale(1.1);

// ActionSheet
@actionsheet-item-height: 50 * @hd;
@actionsheet-item-font-size: 16 * @hd;
@actionsheet-border-radius: 20 * @hd;

// Carousel
@dot-color: rgba(255, 255, 255, 0.3);
@dot-active-color: #FFF;

// NumberKeyboard
@numberKeyboard-bg: #F2F3F5;
@numberKeyboard-radius: 20 * @hd;
@numberKeyboard-header-height: 30 * @hd;
@numberKeyboard-title-size: 14 * @hd;
@numberKeyboard-title-color: #646566;
@numberKeyboard-title-done-color: #576b95;
@numberKeyboard-title-done-size: 14 * @hd;
@numberKeyboard-key-height: 56 * @hd;
@numberKeyboard-key-size: 28 * @hd;
@numberKeyboard-key-radius: 8 * @hd;
@numberKeyboard-key-done-size: 16 * @hd;
@numberKeyboard-key-done-color: #FFF;
@numberKeyboard-key-done-bg: #1989FA;
@numberKeyboard-key-done-active-bg: #0570DB;
@numberKeyboard-icon-width: 32 * @hd;
@numberKeyboard-icon-height: 22 * @hd;

// Loadmore
@loadmore-size: 30 * @hd;

// Steps
@steps-bg: #FFF;
@steps-text-size: 12 * @hd;
@steps-text-color: #222;
@steps-line-color: #E1E3E6;
@steps-active-color: #26BD71;

// Progress
@progress-radius: 4 * @hd;
@progress-pivot-size: 10 * @hd;