.u-demo {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f7f8fa;
  overflow-x: hidden;
  .u-part_1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
  }
  &__header {
    position: sticky;
    top: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    z-index: 100;
  }
  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  &__title {
    position: relative;
    padding: 20px 10px;
    font-size: 20px;
    color: #222;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 44px;
      background: #337EFF;
      border-radius: 0 100px 100px 0;
    }
  }
  &__subTitle {
    margin-top: 5px;
    font-size: 12px;
    color: #ccc;
  }
  &__list {
    padding-bottom: 30px;
  }
  .demo-title {
    font-size: 12px;
    padding: 24px 16px 12px 16px;
    color: #333;
  }
  .demo-card {
    padding: 0 12px;
  }
}
